[Desktop Entry]
Type=Application
Terminal=true
Name=Navigate Directory
Exec=/home/y177649/code/Automation/OpenAtcoder_for_ubuntu/automation/automate_task.sh